<div class="content">

  <div>

    <button mat-raised-button color="accent"
            onclick="window.location.href='http://localhost:8080/projet/auth/google'"
            target="_blank"> Connexion Google Drive </button>

    <button mat-raised-button color="accent"
            onclick="window.location.href='http://localhost:8080/projet/auth/onedrive'"
            target="_blank"> Connexion OneDrive </button>

    <button mat-raised-button color="accent"
            onclick="window.location.href='http://localhost:8080/projet/auth/dropbox'"
            target="_blank"> Connexion DropBox </button>

  </div>

</div>
